.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: gray;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  color: rgb(57, 47, 47);
}

.nav-menu li {
    cursor: pointer;
}
.nav-menu li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(238, 135, 135);
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    width: 158px;
    height: 58px;
    outline: none;
    border: 1px solid rgb(207, 169, 169);
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: rgb(195, 203, 203);
}
.nav-cart-counter{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}